<div class="row">

  <div class="col-md-9" style="border-right: 1px solid #e3e3e3;">
    <div class="row">
      <h3>Productos
        <small class="text-muted" *ngIf="filtroCategoria"> - Filtrando por categoria "{{filtroCategoria.nombre}}"</small>
        <small class="text-muted" *ngIf="filtroEstablecimiento"> - Filtrando por establecimiento "{{filtroEstablecimiento.nombre}}"</small>
      </h3>
      <hr>
    </div>
    <div class="row">
      <p class="text-muted" *ngIf="!productos || productos.length <= 0">No se encontraron productos.</p>
      <div class="col-sm-4 col-lg-4 col-md-4" *ngFor="let producto of productos">
        <div class="thumbnail">
          <div style="height: 200px; display: block; overflow: hidden;">
            <img *ngIf="producto.imagenes.length > 0" src="{{ producto.imagenes[0].url }}" class="img-responsive" alt="">
            <img *ngIf="producto.imagenes.length <= 0" src="http://placehold.it/320x150" class="img-responsive" alt="">
          </div>

          <div class="caption">
            <h4><a (click)="gotoDetail(producto);">{{producto.nombre}}</a>
            </h4>
            <p>
              {{producto.descripcion}}
            </p>
          </div>
          <div class="ratings">
            <br>
            <p *ngIf="producto.categoria"><i class="glyphicon glyphicon-tags"></i> &nbsp;{{producto.categoria.nombre}}</p>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="col-md-3">
    <p>Quena store es un catalogo virtual de instrumentos musicales autoctonos, con tiendas en todo el mundo.</p>
    <br>

    <categorias-widget></categorias-widget>


  </div>

</div>
