<div class="row">

  <div class="col-md-12">
    <div class="row">
      <h3>Quena Store</h3>
      <hr>
    </div>

    <div class="row carousel-holder">
      <div class="col-md-12">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="item active">
              <img class="slide-image" src="http://placehold.it/800x300" alt="">
            </div>
            <div class="item">
              <img class="slide-image" src="http://placehold.it/800x300" alt="">
            </div>
            <div class="item">
              <img class="slide-image" src="http://placehold.it/800x300" alt="">
            </div>
          </div>
          <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <h4>Que es?</h4>
        <p>Quena store es un catalogo virtual de instrumentos musicales autoctonos, con tiendas en todo el mundo.</p>
      </div>
      <div class="col-md-4">
        <h4>Sobre nosotros</h4>
        <p>Esta es una aplicacion desarrollada con <a href="#">AngularJs 2</a>, como parte de una asignacion para programa MTI de la UTFSM que estoy cursando. <br>
          El codigo fuente esta disponible en: <a href="#">github</a>.</p>
      </div>
      <div class="col-md-4">
        <h4>Administracion</h4>
        <p>Se puede administrar este sitio en: <a href="/admin/categorias">admin</a></p>
      </div>
    </div>

  </div>
</div>





