<h3>Administracion</h3>
<br>

<ul class="nav nav-tabs">
  <li role="presentation" class="active">
    <a routerLink="/admin/categorias" routerLinkActive="active">Categorias</a>
  </li>
  <li role="presentation">
    <a routerLink="/admin/productos" routerLinkActive="active">Productos</a>
  </li>
  <li role="presentation">
    <a routerLink="/admin/establecimientos" routerLinkActive="active">Establecimientos</a>
  </li>
</ul>
<br>

<div class="row" *ngIf="categoria">
  <div class="col-md-5">
    <div class="panel panel-default">
      <div class="panel-heading">Editar categoria</div>
      <div class="panel-body">

        <div class="form-group">
          <label>id: </label>{{categoria.id}}
        </div>
        <div class="form-group">
          <label>Nombre:</label>
          <input class="form-control" [(ngModel)]="categoria.nombre" placeholder="nombre" />
        </div>
        <div class="form-group">
          <label>Descripcion:</label>
          <textarea class="form-control" [(ngModel)]="categoria.descripcion" placeholder="descripcion"></textarea>
        </div>

        <button class="btn btn-default" (click)="goBack()">Volver</button>
        <button class="btn btn-success" (click)="save()">Guardar cambios</button>

      </div>
    </div>
  </div>
</div>
