<h3>Administracion</h3>
<br>

<ul class="nav nav-tabs">
  <li role="presentation">
    <a routerLink="/admin/categorias" routerLinkActive="active">Categorias</a>
  </li>
  <li role="presentation">
    <a routerLink="/admin/productos" routerLinkActive="active">Productos</a>
  </li>
  <li role="presentation" class="active">
    <a routerLink="/admin/establecimientos" routerLinkActive="active">Establecimientos</a>
  </li>
</ul>
<br>

<div class="row">
  <div class="col-md-7">
    <div class="panel panel-default">
      <div class="panel-heading">Lista de Establecimientos</div>
      <div class="panel-body">

      </div>
      <table class="table">
        <thead>
        <tr>
          <th>id</th>
          <th>nombre</th>
          <th>pais</th>
          <th>opciones</th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let establecimiento of establecimientos">
            <td>{{establecimiento._id}}</td>
            <td>{{establecimiento.nombre}}</td>
            <td>{{establecimiento.direccion.pais}}</td>
            <td>
              <button class="btn btn-default btn-sm" title="Editar" (click)="gotoDetail(establecimiento);"><i class="glyphicon glyphicon-pencil"></i></button>
              <button class="btn btn-danger btn-sm" title="Borrar" (click)="delete(establecimiento);"><i class="glyphicon glyphicon-trash"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-5">
    <div class="panel panel-default">
      <div class="panel-heading">Agregar establecimiento</div>
      <div class="panel-body">

        <div class="form-group">
          <label>Nombre:</label>
          <input class="form-control" #establecimientoNombre />
        </div>
        <div class="form-group">
          <label>Descripcion:</label>
          <textarea class="form-control" #establecimientoDescripcion></textarea>
        </div>

        <button class="btn btn-success" (click)="add(establecimientoNombre.value, establecimientoDescripcion.value); establecimientoNombre.value=''; establecimientoDescripcion.value=''">
          Guardar
        </button>

      </div>
    </div>
  </div>
</div>
