<div class="row">

  <div class="col-md-10">
    <div class="row">
      <h3>Establecimientos</h3>
      <hr>
    </div>

    <div *ngFor="let est of establecimientos">

      <div class="row">
        <div class="col-md-7">
          <img class="img-responsive" src="https://www.google.com/permissions/images/maps-att.png" alt="">
        </div>
        <div class="col-md-5">
          <h3>{{est.nombre}}</h3>
          <p *ngIf="est.direccion">
            Direccion: {{est.direccion.descripcion}}<br>
            Region: {{est.direccion.region}}<br>
            Pais: {{est.direccion.pais}}
          </p>
          <p>Direccion: xxxx<br>
            Pais: xxxx</p>
          <p>
            <a class="btn btn-default" (click)="gotoDetail(est);">Ver productos en stock <span class="glyphicon glyphicon-chevron-right"></span></a>
          </p>
        </div>
      </div>
      <hr>
    </div>

  </div>
</div>





