<div *ngIf="establecimiento">
    <div>
      <h4>Detalles establecimiento: {{establecimiento.nombre}}</h4>
      <div>
        <label>id: </label>{{establecimiento.id}}
      </div>
      <div>
        <label>nombre: </label>
        <input [(ngModel)]="establecimiento.nombre" placeholder="nombre" />
      </div>
    </div>
    <br>
    <div>
        <h4>Resumen Productos: </h4>
        <div>
          <table>
            <tr>
              <th>ID</th>
              <th>Nombre</th>
              <th>Stock</th>
              <th>Opciones</th>
            </tr>
            <tr>
              <td>123456789</td>
              <td>Lala</td>
              <td>10</td>
              <td><a href="#">Add</a></td>
            </tr>
          </table>
        </div>
        <br>
        <br>
        <h4>Detalle Inventario: </h4>
        <div>
          <table>
            <tr>
              <th>Producto ID</th>
              <th>Producto Nombre</th>
              <th>Item ID</th>
              <th>Item Estado</th>
              <th>Opciones</th>
            </tr>
            <tr>
              <td>123456</td>
              <td>Lala</td>
              <td>123</td>
              <td>ingreso</td>
              <td><a href="#">Delete</a></td>
            </tr>
          </table>
        </div>
      <br>
    </div>
    <button (click)="goBack()">Back</button>
    <button (click)="save()">Save</button>
</div>
